/*
 * Autoren: Samuel Hoffleit, Moritz Oehme
 * Thema: Einheitliches Design fuer alle gruenen Buttons
 * Erstellungsdatum: 06.02.2023
 * Letzte Aenderung: 06.02.2023 13:05
 * Change-Log:
 * 06.02: Design fuer Button (+Hover und Text Design)  ~Samuel Hoffleit, Moritz Oehme
 */
.button {
  -fx-background-color: #03C988;
  -fx-background-radius: 20;
}

.button:hover{
  -fx-background-color: #00f5a3;
}

.text {
  -fx-fill: #13005a;
}