/*
 * Autoren: Basim Bennaji, Moritz Oehme, Samuel Hoffleit
 * Thema: Einheitliches Design für mehrere Buttons
 * Erstellungsdatum: 05.03.2023
 * Letzte Aenderung: 05.03.2023 16:55
 * Change-Log:
 * 05.03: Design (+Hover-Design) fuer Info-Button. ~Basim Bennaji, Moritz Oehme, Samuel Hoffleit
 * 05.03: Design (+Hover-Design) fuer Back-Button. ~Basim Bennaji, Moritz Oehme, Samuel Hoffleit
 * 05.03: Design (+Hover-Design) fuer Play-Button. ~Basim Bennaji, Moritz Oehme, Samuel Hoffleit
 * 05.03: Design (+Hover-Design) fuer Home-Button. ~Basim Bennaji, Moritz Oehme, Samuel Hoffleit
 */
.info-button {
    -fx-background-color: #03C988;
    -fx-shape: "M256,56C145.72,56,56,145.72,56,256s89.72,200,200,200,200-89.72,200-200S366.28,56,256,56Zm0,82a26,26,0,1,1-26,26A26,26,0,0,1,256,138Zm48,226H216a16,16,0,0,1,0-32h28V244H228a16,16,0,0,1,0-32h32a16,16,0,0,1,16,16V332h28a16,16,0,0,1,0,32Z";
}

.info-button:hover{
    -fx-background-color: #00f5a3;
  }

.back-button {
    -fx-background-color: #F05454;
    -fx-shape: "M48,256c0,114.87,93.13,208,208,208s208-93.13,208-208S370.87,48,256,48,48,141.13,48,256Zm212.65-91.36a16,16,0,0,1,.09,22.63L208.42,240H342a16,16,0,0,1,0,32H208.42l52.32,52.73A16,16,0,1,1,238,347.27l-79.39-80a16,16,0,0,1,0-22.54l79.39-80A16,16,0,0,1,260.65,164.64Z";
}

.back-button:hover{
    -fx-background-color: #EC8989;
  }

.play-button {
  -fx-background-color: #03C988;
  -fx-shape: "M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48Zm74.77,217.3L216.32,334.44A10.78,10.78,0,0,1,200,325.13V186.87a10.78,10.78,0,0,1,16.32-9.31L330.77,246.7A10.89,10.89,0,0,1,330.77,265.3Z";
}

.play-button:hover {
  -fx-background-color: #00f5a3;
}

.home-button {
  -fx-background-color: #F05454;
  -fx-shape: "M261.56 101.28A8 8 0 00250.5 101.28L66.4 277.15A8 8 0 0063.93 282.94L63.9 448A32 32 0 0095.9 480H192A16 16 0 00208 464V328A8 8 0 01216 320H296A8 8 0 01304 328L304 464A16 16 0 00320 480H416.06A32 32 0 00448.06 448L448.06 282.94A8 8 0 00445.59 277.15ZM490.91 244.15 416.11 172.59 416.11 64A16 16 0 00400.11 48H352.11A16 16 0 00336.11 64L336.11 96 278.19 40.62C272.77 35.14 264.71 32 256 32H256C247.32 32 239.28 35.14 233.86 40.63L21.16 244.13C14.94 250.13 14.16 260 19.82 266.5A16 16 0 0043 267.56L250.5 69.28A8 8 0 01261.56 69.28L469.08 267.56A16 16 0 00491.67 267.12C497.81 260.76 497.3 250.26 490.91 244.15Z";
}

.home-button:hover{
  -fx-background-color: #EC8989;
}