/*
 * Autoren: 
 * Thema: 
 * Erstellungsdatum: 16.06.2023
 * Letzte Aenderung: 16.06.2023 10:33
 * Change-Log:
 * 
 */
.place-holder {
    -fx-background-color: #13005a;
}

.text {
    -fx-fill: #FFFFFF;
}

.column-header-background {
    -fx-background-color: #13005a;
}

.filler {
    -fx-background-color: #13005a;
}

.table-column {
    -fx-background-color: #00337c;
}

.corner {
    -fx-background-color: #0b518f;
}

.table-column:filled {
    -fx-background-color: #1c82ad;
}

.table-column:filled:odd {
    -fx-background-color: #1192b9;
}

.table-row-cell:filled {
    -fx-background-color: #13005a;
}

.show-hide-columns-button {
    -fx-background-color: #00337c;
}