/*
 * Autor: Basim Bennaji
 * Thema: Generelles Design fuer alle TextFields
 * Erstellungsdatum: 13.03.2023
 * Change-Log:
 *  -Farb- und Textdesign fuer TextField. ~basim 13.03.2023
 *  -Design wird fuer Textfelder im Spielerstellenscreen verwendet. ~basim 13.03.2023
 */
.text-field {
-fx-background-color: #00337C;
-fx-background-radius: 20;
-fx-prompt-text-fill: #808080;
-fx-text-fill: #FFFFFF;
}